
body{
    background-color: rgba(243, 240, 240, 0.382);
    position: relative;
}

.a{
    text-decoration: none;
}


.carousel-container{
    background-color: #F85506;
}

.catagory-img{
    width: 100px;
    padding-left: 10px;
}

.catagory-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: white;
    height: 50px;
}

.catagory-item:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.288);
}


.amination-spinar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 1px;
    z-index: 99;
}

.amination-spinar img{
    position: absolute;
    width: 60px;
    top: 1px;

}

footer{
    color: white;
    background-color: #2E2E54;
    /* background-image: linear-gradient(90deg,#ffa94dbd, #ffce8a65, #ffa94dbd); */
}

.custom-btn{
    color: white;
}

.icon{
    color: #F85506;
    font-size: 20px;
    margin: 10px;

}



.submitbutton, .buy-button{
    background-color: #F85506;
    color: white;
    border: white;
    margin: 5px 0;
}


/* js control  */

.card-image{
    width: 100%;
    padding: 20px;
}

.card:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.186);
}