

.carousel-container{
    background-color: #F85506;
}

.catagory-img{
    width: 100px;
    padding-left: 10px;
}

.catagory-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: white;
    height: 50px;
}

.catagory-item:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.288);
}